//21.parent Child Component Interraction
<div style="text-align:center">
  <h1>{{ name }}</h1>
</div>
<app-test [parentName]="name"></app-test>

//22.Angular liftCycle
<br /><br />
Your text : <input type="text" [(ngModel)]="userText" /> <br /><br />
<simple [simpleInput]="userText"></simple>
<br /><br />

//23-24.Angular Services
<app-studentlist></app-studentlist>
<br /><br />

//25.Angular Routing
<div style="padding:5px">
  <ul>
    <li><a routerLink="home">Home</a></li>
    <li><a routerLink="students">Students</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>

//26.install bootstrap
<br/><br/>
<button class="btn btn-primary">Bootstrap button</button>
